<%- include('./partials/head') %> <%- include('./partials/nav') %>
<section class="loginPage">
  <div class="Login">
    <h1>Register</h1>
    <form action="/register" method="POST" class="loginForm">
      <div class="nameInput">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="emailInput">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="passwordInput">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Register</button>
      <br />
      <br />
      <a href="/login">Login</a>
    </form>
  </div>
</section>
<%- include('./partials/foot') %>
