<html>
  <body>
    <%- include('./partials/head') %> <%- include('./partials/nav.ejs') %>
    <div class="searchpage">
      <form class="searchpage1" action="/search/" method="GET">
        <h1>Search Page</h1>
        <br />
        <br />
        <br />
        <label for="query">Search term:</label>
        <input type="text" id="query" name="q" />

        <label for="db">Database Selection</label>
        <select name="db" id="db">
          <option class="postgres1" value="postgres">Postgres</option>
          <option class="mongo1" value="mongo">Mongo</option>
          <option class="both1" value="both">Both</option>
        </select>
        <button class="submit1" type="submit">Search</button>
      </form>
    </div>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
